
    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch ng-repeat="club in clubes" class="rtl" ng-click="enterClub(club)">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{party.name}}רביעי שחורה</span>
                
                <span class="md-subhead"> 14.2 {{party.date}}</span>
                <span class="md-subhead"> 22:00 {{party.time}}</span>
                 <span class="md-subhead"> גילאים {{party.date}}</span> 

           </md-card-title-text>
         


            <md-card-title-media md-raised ng-click="showConfirm($event)">   
                <div class="md-media-md card-media"><img ng-src="{{club.photo}}"></div>
                
            </md-card-title-media>
        </md-card-title>

    </md-card> 
	
