<md-toolbar style="color:white;" id="managment-toolbar" ng-class="{'bottom-shadow': boolChangeClass}">
    <div class="md-toolbar-tools gradient">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
            <md-tooltip>
                Side Panel
            </md-tooltip>
            <md-icon class="md-default-theme" class="material-icons">
                &#xE5D2;
            </md-icon>
        </md-button>

        <span flex="הרשאות" class="flex"></span>

        <md-button class="md-icon-button" aria-label="back" ng-click="back()">
            <md-icon class="material-icons">
                <i class="material-icons">&#xE5C4;</i>
            </md-icon>
        </md-button>

    </div>


</md-toolbar>
<md-content flex layout-padding class="rtl" md-theme="altTheme" id="managment-profile">


    <md-input-container class="md-block" id="po-permision">
        <label>הוספת יחצנים</label>
        <md-chips ng-model="selectedUsers" md-autocomplete-snap>
            <md-autocomplete 
                md-selected-item="selectedItem" 
                md-search-text="searchText" 
                md-items="user in updateUsers(searchText)"                                   
                md-item-text="user.name" 
                md-min-length="1"           
                md-no-cache="true"
                md-delay="150">  

                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i" ng-bind="user.name">{{user.name}}</span>

                </md-item-template>
                <md-not-found>
                    המשתמש אינו במערכת!     
                </md-not-found>
            </md-autocomplete>
            <md-chip-template>
                <span>
                    <strong>{{$chip.name}}</strong>
                </span>
            </md-chip-template>
        </md-chips>  
    </md-input-container>


</md-content>


<footer>
    <md-toolbar style="background-color:whitesmoke;">
        <div layout="row" layout-align="center center" flex>
            <md-button class="md-primary"  ng-disabled="!club.active">
                הרשאות
            </md-button>

            <md-button class="md-primary" ng-click="goProfile()">
                פרופיל
            </md-button>

            <md-button class="md-primary" ui-sref="managment.stats"  ng-disabled="!club.active">
                סטטיסטיקות
            </md-button>

            <md-button class="md-primary font-bold" ng-click="goParties()"  ng-disabled="!club.active">
                מסיבות והרשמות
            </md-button>
        </div>
    </md-toolbar>
</footer>

