<md-toolbar  class="md-primary bottom-shadow">
	<div class="md-toolbar-tools gradient">
		<md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
			<md-tooltip>
				Side Panel
			</md-tooltip>
			<md-icon class="md-default-theme" class="material-icons">
				&#xE5D2;
			</md-icon>
		</md-button>

		<span flex="" class="flex"></span>

		<md-button class="md-icon-button" aria-label="Done" >
			<md-icon class="material-icons" ui-sref="managment.newevent">
				<i class="material-icons">&#xE876;</i>
			</md-icon>
		</md-button>

	</div>

</md-toolbar>

<!--https://gist.github.com/abehaskins/7330325-->
<!--https://codepen.io/shepard_one/pen/MypdLy-->

<md-content layout-padding class="rtl" md-theme="altTheme">

	<div class="flex">

		<form name="eventForm" style="padding: 20px;">

			<md-input-container class="md-block">
				<label>שם המסיבה</label>
				<input ng-model="event.name" required md-no-asterisk>
			</md-input-container>
<!--http://mominsamir.github.io/date-time-picker/#/date-time-picker-api
	http://ninodezign.com/20-awesome-material-design-date-time-picker/-->
			<div layout="row">
			<sm-date-time-picker 
				fname="Date of Joining" 
				lable="joiningDate" 
				form="eventForm" 
				value="eventDate" 
				start-date="eventDate 
				flex="100" 
				min-date="eventDate" 				
				is-required="true" 
				format="DD-MM-YYYY" 
				week-start-day="Sunday"> 
			</sm-date-time-picker>
			
			</div>
	</div>

	<div layout="row" class="md-block">

	      <div  layout layout-align="center center">
     
      </div>
      <md-slider flex md-discrete ng-model="minAge" step="1" min="18" max="70" aria-label="minAge" style="direction:ltr;">
      </md-slider>


	</div>
	<div layout="row" class="md-block">

    
      <div  layout layout-align="center center">
        <span class="md-body-1">מחיר כניסה</span>
      </div>
      <md-slider flex md-discrete ng-model="Price" step="5" min="0" max="250" aria-label="Price" style="direction:ltr;">
      </md-slider>


	</div>
	<md-input-container class="md-block">
		<label>תיאור המסיבה</label>
		<textarea ng-model="event.description" md-maxlength="200" rows="1" md-select-on-focus></textarea>
	</md-input-container>

	</form>
	</div>
</md-content>

