<md-toolbar id="managment-toolbar" ng-class="{'bottom-shadow': boolChangeClass}">
    <div class="md-toolbar-tools gradient">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
            <md-tooltip>
                Side Panel
            </md-tooltip>
            <md-icon class="md-default-theme" class="material-icons">
                &#xE5D2;
            </md-icon>
        </md-button>

        <span flex="" class="flex"></span>

        <md-button class="md-icon-button" aria-label="Done" ng-click="upload_image(image)">
            <md-icon class="material-icons"><i class="material-icons">&#xE876;</i></md-icon>
        </md-button>

    </div>
</md-toolbar>

<div class="picture-container">


    <img class="image-profile" ng-src="{{clubPicture}}" alt="Club picture">
    <md-button style="position: absolute; bottom: -20px; background: #de86de!important;" class="md-fab md-primary md-mini" aria-label="New">  
        <md-icon aria-label="edit" class="material-icons">&#xE3C9;</md-icon> 
    </md-button>



    <!--    <div class="main-fab">
    
           
    
    
                    <input  fb-image-upload class="fb-input" type="file" name="image" />
                    <input class="ng-hide" type="text" ng-model="image" ng-show="image.valid" />
                    <div>
                        <md-button id="uploadButton" class="md-fab">
                            <md-icon aria-label="edit" class="material-icons">&#xE3C9;</md-icon>
                        </md-button>
                    </div>
        </div>     -->

    <!--https://gist.github.com/abehaskins/7330325-->
    <!--https://codepen.io/shepard_one/pen/MypdLy-->


</div>

    <div class="fb-inputs" ng-hide="image.isUploading">
        <input class="fb-image-upload" fb-image-upload class="fb-input" type="file" name="image"/>
        <input class="fb-submit" type="submit" value="Upload Image" ng-show="image.valid"/>
    </div>

<md-content flex layout-padding class="rtl" md-theme="altTheme" id="managment-profile">
    <form name="clubForm" >
        <md-input-container  class="md-block">
            <label>שם המועדון</label>
            <input ng-model="club.name" required md-no-asterisk>
        </md-input-container>

        <md-input-container  class="md-block">
            <label>כתובת המועדון</label>
            <input vs-google-autocomplete 
                   ng-model="address.name" 
                   vs-place="address.place" 
                   vs-place-id="address.components.placeId" 
                   vs-street-number="address.components.streetNumber" 
                   vs-street="address.components.street" 
                   vs-city="address.components.city" 
                   vs-state="address.components.state"
                   vs-country-short="address.components.countryCode" 
                   vs-country="address.components.country" 
                   vs-post-code="address.components.postCode" 
                   vs-latitude="address.components.location.lat" 
                   vs-longitude="address.components.location.long" 
                   type="text" 
                   name="address"
                   id="address1" 
                   class="form-control" 
                   placeholder="נא להכניס כתובת מדוייקת">
        </md-input-container>

        <md-input-container flex="40">
            <label>מס אורחים מקסימלי</label>
            <input ng-model="club.capacity" type="number" required md-no-asterisk name="capacity" ng-max="3000">
            <div ng-messages="clubForm.capacity.$error">
                <div ng-message="required">נא להקליד כמות מקסימלית של בליינים במועדון!</div>
                <div ng-message="number">ספרות בלבד!</div>
                <div ng-message="max">לא הגזמנו?!</div>
            </div>
        </md-input-container>


        <md-input-container class="md-block">
            <label>תיאור המועדון</label>
            <textarea ng-model="club.description" ng-maxlength="200" md-maxlength="200" rows="1" md-select-on-focus name="description"></textarea>
            <div ng-messages="clubForm.description.$error">
                <div ng-message="md-maxlength">נא להקליד עד 200 תוים בלבד!</div>
            </div>
        </md-input-container>
    </form>
</md-content>

<footer>
    <md-toolbar style="background-color:whitesmoke;">
        <div layout="row" layout-align="center center" flex>
            <md-button class="md-primary" ui-sref="managment.profile">
                פרופיל
            </md-button>

            <md-button class="md-primary" ui-sref="managment.stats">
                סטטיסטיקות
            </md-button>

            <md-button class="md-primary" ui-sref="managment.parties">
                מסיבות והרשמות
            </md-button>
        </div>
    </md-toolbar>
</footer>