<md-toolbar style="color:white;" id="managment-toolbar" ng-class="{'bottom-shadow': boolChangeClass}"  ng-show="!partiesShow">
    <div class="md-toolbar-tools gradient">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
            <md-tooltip>
                Side Panel
            </md-tooltip>
            <md-icon class="md-default-theme" class="material-icons">
                &#xE5D2;
            </md-icon>
        </md-button>

        <span flex="" class="flex"></span>

        <md-button class="md-icon-button" aria-label="back" ng-click="back()">
            <md-icon class="material-icons">
                <i class="material-icons">&#xE5C4;</i>
            </md-icon>
        </md-button>

    </div>

    <md-content>
        <div layout="row" class="club-sub-head" >
            <div flex="20">
                <span class="club-name" >תמונה</span>
            </div>
            <div flex="40">
                <span class="club-name" >שם</span>
            </div>
            <div flex="15">
                <span class="event-panding" >מין</span>
            </div>
            <div flex="15">
                <span class="event-approved">ביקורים קודמים</span>
            </div>
            <div flex="10">
                <span class="club-reg-btn1">אישור</span>
            </div>
        </div>
    </md-content>
</md-toolbar>

<div scroll-with-headline id="managment-content" flex style="overflow: auto; position: relative !important;" ng-clock  ng-show="!partiesShow">
    <div ng-repeat="user in users" >	
        <hr ng-if="$first" class="club-hr-no-top" >
        <hr ng-if="!$first" class="club-hr">
        <div layout="row" class="club-list">

            <div flex="20" layout="row" >
                <img ng-src='{{user.picture}}' class="avatar"> 
            </div>
            <div flex="40" layout="row">
                <span class="club-name vertical-text" >{{user.name}}</span>
            </div>
            <div flex="15" layout="row">
                <span class="club-name vertical-text" ><i ng-if="user.gender==='male'" class="fa fa-mars" style="font-size:24px"></i><i  ng-if="user.gender==='female'" class="fa fa-venus" style="font-size:24px"></i></span>
            </div>
            <div flex="15">

            </div>
            <div flex="10" layout="row">


            </div>          
        </div>
        <hr ng-if="$last" class="club-hr-no-bottom">
    </div>

</div>

