<md-toolbar  class="md-primary bottom-shadow">
    <div class="md-toolbar-tools gradient">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
            <md-tooltip>
                Side Panel
            </md-tooltip>
            <md-icon class="md-default-theme" class="material-icons">
                &#xE5D2;
            </md-icon>
        </md-button>

        <span flex="" class="flex"></span>

        <md-button class="md-icon-button" aria-label="Done" ng-click="addEvent()">
            <md-icon class="material-icons" >
                <i class="material-icons">&#xE876;</i>
            </md-icon>
        </md-button>

    </div>

</md-toolbar>



<!--https://gist.github.com/abehaskins/7330325-->
<!--https://codepen.io/shepard_one/pen/MypdLy-->

<md-content layout-padding class="rtl" md-theme="altTheme" id="disablepadding">



    <form name="eventForm" style="padding: 20px;">

        <md-input-container class="md-block">
            <label>שם המסיבה</label>
            <input ng-model="event.name" required md-no-asterisk>
        </md-input-container>
        <!--http://mominsamir.github.io/date-time-picker/#/date-time-picker-api
                http://ninodezign.com/20-awesome-material-design-date-time-picker/-->

                                   
            <div layout="row">        
              <mdp-date-picker style="direction:rtl;"
              
                               mdp-open-on-click 
                                required 
                               name="dateFormat" 
                               mdp-placeholder="תאריך האירוע" 
                               mdp-format="DD/MM/YYYY" ng-model="event.eDate">
                  <div ng-messages="eventForm.dateFormat.$error">
                    <div ng-message="required">חובה לבחור תאריך</div>
                    <div ng-message="format">הפורמט לא תקין </div>
                </div>
              </mdp-date-picker>
            </div>               
    
            <div layout="row">           
              <mdp-time-picker style="direction:rtl;" 
               mdp-placeholder="פתיחת שערים"
                               mdp-open-on-click
                               mdp-auto-switch="true"
                               name="timeFormat" ng-model="event.eTime" 
                               mdp-format="HH:mm A">
                <div ng-messages="eventForm.timeFormat.$error">
                  <div ng-message="required">This is required</div>
                  <div ng-message="format">Invalid format</div>
                </div>
              </mdp-time-picker>
            </div>            
        


        <div layout="row" class="md-block"  md-theme="altTheme">
            <div layout layout-align="center center">
                <span class="md-body-1">גיל כניסה</span>
            </div>
            <md-slider flex md-discrete ng-model="event.minAge" step="1" min="18" max="70" aria-label="minAge" style="direction:ltr;">
            </md-slider>
        </div>


        <div layout="row" class="md-block profile-slider"  >
            <div  layout layout-align="center center">
                <span class="md-body-1">מחיר כניסה</span>
            </div>
            <md-slider flex md-discrete ng-model="event.Price" step="5" min="0" max="250" aria-label="Price" style="direction:ltr;">
            </md-slider>
        </div>

        <md-input-container class="md-block">
            <label>תיאור המסיבה</label>
            <textarea ng-model="event.description" md-maxlength="200" rows="1" md-select-on-focus></textarea>
        </md-input-container>

    </form>

</md-content>

