

<div scroll-with-headline flex id="managment-content">
    
        <div  ng-repeat="event in events" >	
            <hr ng-if="$first" class="club-hr-no-top" >
            <hr ng-if="!$first" class="club-hr">
            <div layout="row" class="club-list">

                <div flex="25">
                    <span class="club-name" >{{event.eDate| date:'dd/MM/yyyy'}}</span>
                </div>
                <div flex="35">
                    <span class="club-name" >{{event.name}}</span>
                </div>
                <div flex="15">
                    <span class="club-name" >{{event.price}}</span>
                </div>
                <div flex="15">
                    <span class="event-approved">{{event.minAge}} </span>
                </div>
                <div flex="10">
                    <span class="club-reg-btn1"><i class="material-icons">&#xE3C9;</i></span>
                </div>
            </div>

        </div>

 
</div>